body {
	background: #fff;
}

#logo {
	color: #999;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
	font-size: 3em;
	margin:50px 0px 0px 0px;
	text-align: center;
	font-weight: 100;
}

input[type='text'], input[type='password'] {
	border: none;
	font-size: 11px;
	box-shadow: none;
	text-shadow: none;
	background: #F9F9F9;
}

.intro {
	margin: 25px auto;
	font-size: 12px;
	color: #626a6e;
	width: 300px;
	text-align: center;
}

a, a:hover {
	color:#666;
}

.topbar {
	margin-bottom: 1rem;
	text-align: center;
}

.topbar .btn {
	margin: 3px 1px;
    min-width: 184px;
}

.topbar-glyph {
	position: relative !important;
	top: 2px !important;
	margin-left: 5px;
}

#user {
	margin-top: 50px;
}

.pageButtons > div {
	width: 33.3333%;
	display: inline-block;
}

.pageNext {
	float: right;
	text-align: right;
}

.pageBack {
	float: left;
}

.pagebtn[rel="-1"] {
	opacity: 0.3;
}

.pagebtn[rel="-1"]:hover {
	color: #636b6f;
    background-color: #fff;
    border-color: #ccc;
    cursor: not-allowed;
}

.panel {
	text-align: left: !important;
}

.label a {
	color: white;
}

.change-listing {
	margin: auto 1%;
	display: inline-block;
}

#searchBox {
	width:100%;
	padding:10px;
	margin:10px 0px;
	border: 1px solid #eee;
	border-radius: 5px;
	font-size:21px;
}

.swal-title {
  margin: 0px;
  font-size: 16px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
  margin-bottom: 28px;
}

.swal2-modal {
	font-family: Raleway, sans-serif !important;
}

.reply-button {
    vertical-align: top;
    bottom: 7px !important;
    position: relative;
}

.btn.btn-primary {
	background-color: #87E1A9;
	border-color: #87E1A9;
}

.pageButtons {
	padding-bottom: 22px !important;
}

/* Select2 Boostrap multiple select fixes */

.select2 {
	width: 100%;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
	border: 1px solid #ccd0d2 !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple:focus
{
	border: 1px solid #98cbe8 !important;
}